# Ignorar base de datos
/DB/veripre.db

# Ignorar carpeta ctk_components
/FUNC/ctk_components/

# Python
__pycache__/
*.pyc

# Entornos
venv/
.venv/

# Logs
logs/
*.log

# Output / build
OUTPUT/
dist/
build/

# Base de datos local
*.db

# Sistema
.DS_Store
Thumbs.db